
<ion-content class="bg">
  <div style="width: 283px; height: 100px;" class="spacer"></div>
      <p class="tname ">Collection</p><br />
        <p class="tname ">Notes</p><br>
        <div style="width: 283px; height: 36px;" class="spacer"></div>
         <form id="signup-form2">
          <div class="list list-inset">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="user.username">
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password">
            </label>
          </div>
          <div class="padding">
            <div style="width: 283px; height: 18px;" class="spacer"></div>
            <a class=" button button-balanced  button-block " id="login-button1"  ui-sref="tabsController.home">Log in</a>
            <p class=" " style="color:#000000;text-align:center;" id="login-markdown1">New to Collection Notes?</p>
            <a class=" button button-positive button-small button-block button-clear icon ion-android-create " style="font-weight:600;font-style:italic;border-radius:2px 2px 2px 2px;" id="login-button2" ui-sref="signup">Create an account.</a>
          </div>
        </form>
</ion-content>

        