
    <ion-content class="bg">
        <div style="width: 283px; height: 109px;" class="spacer"></div>
        <form id="signup-form2">
            <h2 class="signup" id="signup-heading4">Signup in Collection Notes</h2>
        <div style="width: 283px; height: 50px;" class="spacer"></div>
            <div class="list list-inset">
            <ion-list class="" id="signup-list2">
                <label name="Fullname" id="signup-input8" class="item item-input ">
                     <span class="input-label">Fullname:</span>
                    <input  type="text">
                </label>
                <label name="Username" id="signup-input5" class="item item-input ">
                     <span class="input-label">Username:</span>
                    <input type="text">
                </label>
                <label name="Password" id="signup-input6" class="item item-input ">
                    <span class="input-label">Password:</span>
                    <input  type="text">
                </label>
            </ion-list>
            </div>
            <div class="padding">
            <button class=" button button-balanced  button-block  " style="font-weight:600;" id="signup-button5">Signup</button>
            </div>
        </form>
    
    </ion-content>
   
