/* Empty. Add your own CSS if you like  background: url(../img/bg3.png); */
body{
	background: url(../img/b3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	

	
}

.bg{
	background: url(../img/b3.png) no-repeat center;
	background-size:cover;
}

.input-label{
	font-weight: 400;
	font-family:Times New Roman;
	font-size: 18px;
}

.signup{

	color: black; 
	font-weight: 600;
	 text-align: center;
	font-family:Ar Hermann; 
}
.tname{
	color: rgb(0, 0, 0); 
	font-weight: 600; 
	font-style: italic; 
	text-align: center;
	font-size: 50px;
	font-family:Ar Hermann;
}

#model{
	margin-left: 100px;
	margin-right: 100px;
}

